# https://zed0.co.uk/clang-format-configurator/
---
BasedOnStyle: LLVM
Language:     Cpp
AlwaysBreakTemplateDeclarations: MultiLine
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AccessModifierOffset: -4
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
PointerAlignment: Left
Standard: Cpp11
#TabWidth:    4
#UseTab:      ForContinuationAndIndentation
...
