# https://zed0.co.uk/clang-format-configurator/
---
Language:     Cpp
AllowShortIfStatementsOnASingleLine: true
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
Standard: Cpp11
#TabWidth:    4
#UseTab:      ForContinuationAndIndentation
...
